@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #89D99D;
    font-family: "Poppins", sans-serif;
}

header {
    background-color: #347355;
    padding: 30px;
}

header h2 {
    color: white;
    text-align: center;
    text-shadow: 2px 2px 0px #347355d3;
}

main {
    margin: 20px 5px;
}

.exercicios {
    width: 900px;
    height: auto;
    margin: 40px auto;
    background: transparent;
    border-radius: 10px;
}

.curso {
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
    margin-left: 4px;
    display: inline-block;
    border-radius: 5px;
    cursor: pointer;
}

div {
    text-align: center;
    padding-top: 40px;
}

.a1 {
    background-color: #027373;
    color: white;
}

.a2 {
    background-color: #F23030;
    color: white;
}
.a3 {
    background-color: #e69807;
    color: white;
}

.a4 {
    background-color: #3B8C6E;
    color: white;
}

/* Vai usar primeiro a classe que estiver com !important */
.destaque {
    background-color: #CC8D1A !important;
    color:  #191970 !important;
}

.destaque:hover{
    background-color: yellow !important;
}